<a href="https://colab.research.google.com/github/crllm/AppTB/blob/master/atividade_comp_twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carolyna Mantovani de Souza

- Crie um novo notebook chamado "atividade-comp-twitter".
- Insira seu nome no título do notebook.
- Faça uma requisição ao Twitter de algum usuário de seu interesse.
- Crie um data frame que armazene os tweets desse usuário, contendo informações sobre o nome, localização, quantidade de amigos e seguidores.
- Crie um data frame que armazene a data e o texto dos tweets desse usuário

In [8]:
# Instalando a dependencia do Twitter
pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: requests>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: PySocks>=1.5.7 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.7.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)

In [9]:
#importando as bibliotecas
import tweepy
import pandas as pd

In [10]:
#definindo as chaves de acesso 

consumer_key = 'jor3IqmSlR9UIjrdSiisNJL0k'
consumer_secret = 'NJbI026GnhyECwSKS6y7pqvJ58fHjjtnTJGcIbYepv57v4vncV'
access_token = '1321602698744135680-mo7TB4XKvZmEfTQhXdmnp3oMhYRQlj'
access_token_secret = 'qd1qda5HUHO2qZJwaK7HsJZHbRfP7l8hojJAiBR3mJJKW'

In [11]:
#realizando a autenticação
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [12]:
#criando um objeto para realizar requisições 
api = tweepy.API(auth, wait_on_rate_limit=True)

In [14]:
#realizando a busca por tweets de um unico usuario
qtd = 10
tw_usuarios = []
tw_local = []
tw_tweet = []
tw_amigos = []
tw_seguidores = []
resultados = api.user_timeline(id="uol", count=qtd)

for tweet in resultados:
  #print([tweet.user.name,tweet.text,tweet.user.location,tweet.user.friends_count,tweet.user.followers_count])
  tw_usuarios.append(tweet.user.name)
  tw_local.append(tweet.user.location)
  tw_tweet.append(tweet.text)
  tw_amigos.append(tweet.user.friends_count)
  tw_seguidores.append(tweet.user.followers_count)



df_tw = pd.DataFrame({'usuario':tw_usuarios,'data':tw_local,'tweet':tw_tweet,'amigos':tw_amigos,'seguidores':tw_seguidores}) 
df_tw.info()
df_tw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   usuario     10 non-null     object
 1   data        10 non-null     object
 2   tweet       10 non-null     object
 3   amigos      10 non-null     int64
 4   seguidores  10 non-null     int64
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

  usuario    data  ... amigos  seguidores
0     UOL  Brasil  ...     98     1765730
1     UOL  Brasil  ...     98     1765730
2     UOL  Brasil  ...     98     1765730
3     UOL  Brasil  ...     98     1765730
4     UOL  Brasil  ...     98     1765730

[5 rows x 5 columns]